Source: db-agg
Section: devel
Priority: optional
Maintainer: Arnd Brusdeilins <arnd@brusdeilins.net>
Build-Depends: debhelper (>= 9), autotools-dev, libtool, libjansson-dev, libncurses5-dev, libncursesw5-dev, liblog4cplus-dev, libxml2-dev, cxxtest, libpcre3-dev, libzip-dev, libpq-dev
Standards-Version: 3.9.5
Homepage: https://github.com/zalando/db_agg
#Vcs-Git: git://git.debian.org/collab-maint/db-agg.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/db-agg.git;a=summary

Package: libdb-agg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: join multiple datasources with a single query
 db_agg is a commandline tool which processes a single postgres sql query
 consisting of multiple common table expressions (WITH statements) 
 that are referring to different databases.

Package: db-agg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdb-agg (= ${binary:Version})
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: db_agg command line client

Package: libdb-agg-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends:
    libdb-agg (= ${binary:Version}),
    ${misc:Depends}
Description: join multiple datasources with a single query
 db_agg is a commandline tool which processes a single postgres sql query
 consisting of multiple common table expressions (WITH statements) 
 that are referring to different databases.

Package: libdb-agg-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends:
    libdb-agg (= ${binary:Version}),
    ${misc:Depends}
Description: join multiple datasources with a single query
 db_agg is a commandline tool which processes a single postgres sql query
 consisting of multiple common table expressions (WITH statements)
 that are referring to different databases.
 This package provides the debugging symbols for db_agg.

Package: db-agg-sqlite3
Architecture: any
Multi-Arch: same
Depends:
    libdb-agg (= ${binary:Version}),
    ${misc:Depends},
    ${shlibs:Depends}
Description: db_agg sqlite3 extension

Package: db-agg-postgresql
Architecture: any
Multi-Arch: same
Depends:
    libdb-agg (= ${binary:Version}),
    ${misc:Depends},
    ${shlibs:Depends}
Description: db_agg postgresql extension

Package: db-agg-soap
Architecture: any
Multi-Arch: same
Depends:
    libdb-agg (= ${binary:Version}),
    ${misc:Depends},
    ${shlibs:Depends}
Description: db_agg soap extension

Package: db-agg-memcached
Architecture: any
Multi-Arch: same
Depends:
    libdb-agg (= ${binary:Version}),
    ${misc:Depends},
    ${shlibs:Depends}
Description: db_agg memcached extension
