#!/usr/bin/make -f
#export DH_VERBOSE=1

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=libdb-agg-dbg

multiarch=$(shell /usr/bin/dpkg-architecture -qDEB_HOST_MULTIARCH)

override_dh_auto_configure:
	@echo "mutliarch=$(multiarch)"
	dh_auto_configure --buildsystem=cmake -- \
       -Ddpkg_build=on\
       -Dprefix=/usr \
       -Dmandir="/usr/share/man"\
       -Dinfodir="/usr/share/info"\
       -Dsysconfdir="/etc"\
       -Dlocalstatedir="/var"\
       -Dmultiarchlibdir=/usr/lib/$(multiarch) \
       -Dlibdir=/usr/lib

%:
	dh $@ --buildsystem=cmake
